:root {
  --bg-dark: #0b0d17;
  --bg-darker: #12151f;
  --card-bg: #1e212b;
  --primary: #00bfff;
  --secondary-bg: #1a1d26;
  --text-primary: #e0e0e0;
  --text-secondary: #888;
  --border: #222531;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg-dark);
  color: var(--text-primary);
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== Global Scrollbar Styling ===== */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* rounded track */
}

*::-webkit-scrollbar-thumb {
  background-color: #1862cb; /* your blue */
  border-radius: 10px; /* rounded thumb */
  border: 2px solid #f1f1f1; /* space between track and thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1451a3; /* darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1862cb #f1f1f1; /* thumb | track */
}
